[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [ 5671 ] },
                { ssl_listeners, [ ] },
                { default_pass, <<"guest">> },
                { default_user, <<"guest">> },
                { hipe_compile, false },
                {auth_backends, [rabbit_auth_backend_cache]}
        ] },
        { rabbitmq_management, [ { listener, [
                { port, 8181 },
                { ssl, false }
        ] } ] },
        {rabbitmq_auth_backend_cache, [
               {cached_backend, rabbit_auth_backend_http},
               {cache_ttl, 1000}
                ] },
        {rabbitmq_auth_backend_http, [
                {http_method,   post},
                {user_path,     "http://192.168.98.1:5054/auth/user"},
                {vhost_path,    "http://192.168.98.1:5054/auth/vhost"},
                {resource_path, "http://192.168.98.1:5054/auth/resource"},
                {topic_path,    "http://192.168.98.1:5054/auth/topic"}
        ]},
        {rabbitmq_mqtt, [
                {allow_anonymous,  true},
                {default_user, anonymous},
                {default_pass, anonymous},
                {vhost,            <<"/">>},
                {exchange,         <<"amq.topic">>},
                {subscription_ttl, 1800000},
                {prefetch,         10},
                {tcp_listeners,    [8183]},
                {tcp_listen_options, [{backlog,   128},
                                      {nodelay,   true}]}
        ]},
        {rabbitmq_web_mqtt, [
                {tcp_config, [{port, 8184}]}
        ]}
].
