[submodule "dev/iot-bgw-auth-server"]
	path = dev/iot-bgw-auth-server
	url = https://github.com/hareeqi/iot-bgw-auth-server
[submodule "dev/iot-bgw-mqtt-proxy"]
	path = dev/iot-bgw-mqtt-proxy
	url = https://github.com/hareeqi/iot-bgw-mqtt-proxy
[submodule "dev/iot-bgw-http-proxy"]
	path = dev/iot-bgw-http-proxy
	url = https://github.com/hareeqi/iot-bgw-http-proxy
[submodule "dev/iot-bgw-aaa-client"]
	path = dev/iot-bgw-aaa-client
	url = https://github.com/hareeqi/iot-bgw-aaa-client
