# Configuration items for the service bgw-external-interface
[external-interface]
tls_key = "<path_to_secret_key>.pem"
tls_cert = "<path_to_cert>.pem"

  # Configuration of the TLS termination proxies for services behind the external interface
  [[external-interface.servers]]
  # TLS termination proxy for the service bgw-http-proxy
  name = "http_proxy"
  # default: ["0.0.0.0"]
  bind_addresses = [
    "0.0.0.0"
  ]
  # default: 443
  bind_port = 444
  # default: 5050
  dest_port = 5050
  # default: "127.0.0.1"
  dest_address = "127.0.0.1"

  [[external-interface.servers]]
  # TLS termination proxy for the service bgw-mqtt-proxy
  name = "mqtt_proxy"
  # default: ["0.0.0.0"]
  bind_addresses = [
    "0.0.0.0"
  ]
  # default: 8883
  bind_port = 8883
  # default: 5051
  dest_port = 5051
  # default: "127.0.0.1"
  dest_address = "127.0.0.1"

  [[external-interface.servers]]
  # TLS termination proxy for the service bgw-websocket-proxy
  name = "websocket_proxy"
  # default: ["0.0.0.0"]
  bind_addresses = [
    "0.0.0.0"
  ]
  # default: 9002
  bind_port = 9002
  # default: 5052
  dest_port = 5052
  # default: "127.0.0.1"
  dest_address = "127.0.0.1"

# Configuration items for the service bgw-mqtt-proxy
[mqtt-proxy]

  # MQTT broker address
  [mqtt-proxy.broker]
  address = "192.168.98.100"
  port = 1883
  username = ""
  password = ""
  tls = false
  tls_ca = ""
  tls_client_key = ""
  tls_client_cert = ""

# Configuration items for the service bgw-http-proxy
[http-proxy]
configurationService = "http://localhost:5056"
redis_host = "192.168.98.100"
redis_port = 6379

  [http-proxy.domains]

    [http-proxy.domains.localhost]

      [http-proxy.domains.localhost.sc]
      local_address = "http://192.168.98.100:8082"

        [http-proxy.domains.localhost.sc.translate_local_addresses]
        whitelist = [
          "*.linksmart.eu",
          "demo.test.eu:8080"
        ]

          [http-proxy.domains."localhost".sc.translate_local_addresses.url_translation_map]
          "tcp://192.168.98.100:1883" = "ssl://imagon.fit.fraunhofer.de:8883"

      [http-proxy.domains.localhost.authorize]
      local_address = "http://localhost:5053/authorize"
      no_auth = true
      keep_authorization_header = true

      [http-proxy.domains.localhost.configuration]
      local_address = "http://localhost:5056"
      no_auth = true

[websocket-proxy]
realm_public_key_modulus = "hF2bmoFd35rgtsXny2NFXG-M-ywZPkuonyUC8fwYQ4axSB86gPXbkkgH5LsDkpJHovMvXUgDiEJg2k0TbEfy7edtpk1e0IpqY8KKFQ-Gz_YjxXPWEsO30k11T66aczDVC1aKFDuBCQ9ExZopTehR_awHn3FAuDHTGrG8W4bMJ3z1VqcFRh5fZG3vGFvPi6J-6QpV8P82wFqMHJWeBJGUThWMNCtgi88KXf8Jz1MgvXO-NnDK_KduJBo_c6Dm5NiZjReQtKRO8TXUkhglClwHU6sOGx0IIvgQ9q5vRwWf6ou6t5_40cNYiu86GYlHH-1dimb_f6CoiTBG8-99wgfxvw"
realm_public_key_exponent = "AQAB"
client_id = "bgw_client"
issuer = "https://auth.fit.fraunhofer.de/kc/realms/bgw-jannis-local"

[auth-service]

  [auth-service.openid_connect_providers]

    [auth-service.openid_connect_providers.default]
    issuer = "https://auth.fit.fraunhofer.de/kc/realms/bgw-jannis-local"
    token_endpoint = "https://auth.fit.fraunhofer.de/kc/realms/bgw-jannis-local/protocol/openid-connect/token"
    client_id = "bgw_client"
    realm_public_key_modulus = "hF2bmoFd35rgtsXny2NFXG-M-ywZPkuonyUC8fwYQ4axSB86gPXbkkgH5LsDkpJHovMvXUgDiEJg2k0TbEfy7edtpk1e0IpqY8KKFQ-Gz_YjxXPWEsO30k11T66aczDVC1aKFDuBCQ9ExZopTehR_awHn3FAuDHTGrG8W4bMJ3z1VqcFRh5fZG3vGFvPi6J-6QpV8P82wFqMHJWeBJGUThWMNCtgi88KXf8Jz1MgvXO-NnDK_KduJBo_c6Dm5NiZjReQtKRO8TXUkhglClwHU6sOGx0IIvgQ9q5vRwWf6ou6t5_40cNYiu86GYlHH-1dimb_f6CoiTBG8-99wgfxvw"
    realm_public_key_exponent = "AQAB"

    [auth-service.openid_connect_providers.linksmart]
    issuer = "https://auth.fit.fraunhofer.de/kc/realms/bgw-dev"
    token_endpoint = "https://auth.fit.fraunhofer.de/kc/realms/bgw-dev/protocol/openid-connect/token"
    client_id = "bgw_client"
    realm_public_key_modulus = "iLadC5cb64ZdhEJrAQsGZShQtrCWCYuosInNY5988TLb90TV5z49uGxknM8BZ58p8N4-H6ngHpVw6KgxqR8NkyNDsZ4rOCNbqle74tiY5p8b6D6oWLhdJHFeOiOj9OmEKH9hFYYmFuWQVFvnO7ropzsgz4OvGCwadqjj4UvJccKAiLmbUSbGalCTnWwNRvrCMpDhW5_Dr90HDIcxQ6amATuSBMdiY9H4nPUdkQPkmF4qDfo5gbMJIGV_pBbKj8mq7Xn8hGBVryax3EeBUs8wfk1WCptlxnxWW06henmKisvLn6kguwHm4i_5XalR3sUJQzDsTuvfxUi0Phae0K1H1w"
    realm_public_key_exponent = "AQAB"