openapi: "3.0.0"
info:
  version: 1.0.0
  title: Border Gateway Auth Service
servers:
- url: https://demo.linksmart.eu
security:
- BasicAuth: []
- BearerAuth: []
paths:
  /authorize:
    post:
      summary: Post request if rule is allowed for provided credentials (Basic or Bearer)
      tags:
      - auth-bgw
      requestBody:
        description: Provide rule and OpenID Connect provider name (defined in config) to check against
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'

      responses:
        '200':
          description: Answer
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/answerTrue"
                - $ref: "#/components/schemas/answerFalse"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/answerFalse"
        default:
          description: Unexpected error
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    request:
      required:
      - rule
      properties:
        rule:
          type: string
        openidConnectProviderName:
          type: string
          default: default
    answerFalse:
      required:
      - isAuthorized
      - error
      properties:
        isAuthorized:
          type: boolean
        openidConnectProviderName:
          type: string
        authUrl:
          type: string
        error:
          type: string
    answerTrue:
      required:
      - isAuthorized
      - openidConnectProviderName
      properties:
        isAuthorized:
          type: boolean
        openidConnectProviderName:
          type: string
