openapi: "3.0.0"
info:
  version: 1.0.0
  title: Border Gateway Auth Service
servers:
- url: https://demo.linksmart.eu
security:
- BasicAuth: []
- BearerAuth: []
paths:
  /authorize:
    post:
      summary: Post request if rule is allowed for provided credentials (Basic or Bearer)
      tags:
      - auth-service
      requestBody:
        description: Provide rule and OpenID Connect provider name (defined in config) to check against
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorizeRequest'

      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/authorizeResponseTrue"
                - $ref: "#/components/schemas/authorizeResponseFalse"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authorizeResponseFalse"
        default:
          description: Unexpected error
  /authorizeGUI:
    post:
      summary: Post request if access to provided resource with provided method is allowed (specifically for Composition / eFactory projects)
      tags:
        - auth-service
      requestBody:
        description: Provide resource and method
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorizeGUIRequest'

      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/authorizeGUIResponseTrue"
                  - $ref: "#/components/schemas/authorizeGUIResponseFalse"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authorizeGUIResponseFalse"
        default:
          description: Unexpected error
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    authorizeRequest:
      required:
      - rule
      properties:
        rule:
          type: string
        openidConnectProviderName:
          type: string
          default: default
    authorizeResponseFalse:
      required:
      - isAuthorized
      - error
      properties:
        isAuthorized:
          type: boolean
        openidConnectProviderName:
          type: string
        authUrl:
          type: string
        error:
          type: string
    authorizeResponseTrue:
      required:
      - isAuthorized
      - openidConnectProviderName
      properties:
        isAuthorized:
          type: boolean
        openidConnectProviderName:
          type: string
    authorizeGUIRequest:
      required:
        - resource
        - method
      properties:
        resource:
          type: string
        method:
          type: string
    authorizeGUIResponseTrue:
      required:
        - permission
      properties:
        permission:
          type: boolean
    authorizeGUIResponseFalse:
      required:
        - permission
        - error
      properties:
        permission:
          type: boolean
        error:
          type: string