openapi: "3.0.0"
info:
  version: 1.0.0
  title: Border Gateway Configuration API
servers:
- url: https://demo.linksmart.eu/configuration
security:
- BasicAuth: []
- BearerAuth: []
paths:
  /locations:
    get:
      summary: GET locations
      tags:
      - configuration-service
      parameters:
      - in: query
        name: domain
        schema:
          type: string
        required: false
        description: Domain defined in config.json to add location definition to
      - in: query
        name: location
        schema:
          type: string
        required: false
        description: Location name
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        default:
          description: Unexpected error
    put:
      summary: PUT location definition for domain configured in config.json
      tags:
      - configuration-service
      parameters:
      - in: query
        name: domain
        schema:
          type: string
        required: true
        description: Domain defined in config.json
      - in: query
        name: location
        schema:
          type: string
        required: true
        description: Location name
      requestBody:
        description: Provide location definition
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put'

      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        default:
          description: Unexpected error
    delete:
      summary: DELETE location definition for domain configured in config.json
      tags:
      - configuration-service
      parameters:
      - in: query
        name: domain
        schema:
          type: string
        required: true
        description: Domain defined in config.json
      - in: query
        name: location
        schema:
          type: string
        required: true
        description: Location name

      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        default:
          description: Unexpected error
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    put:
      required:
      - local_address
      properties:
        local_address:
          type: string
